body{
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color:#007BFF;
    color: #FFF;
    padding: 15px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color:#f5f5f5;
}

.producto{
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 5px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease; 
}

.producto:hover {
    transform: translateY(-5px); /* Pequeño efecto hover para el producto */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.producto .precio {
    font-size: 1.8rem;
    font-weight: 700;
    color:#212529;
    margin-top: 15px;
    margin-bottom: 5px;
}

.producto, .producto .id {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #6C757D;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;   
    margin-bottom: 15px; 
}

.producto h2 {
    font-size: 1.4rem;
    color: #212529;;
    margin-bottom: 10px;
}

.producto .descripcion{
    font-size: 0.95rem;
    color: #6C757D;
    margin-bottom: 15px;
    text-align: justify;
}

/*cada vez que el producto esté disponible, se mostrará con este estilo */
.disponible {
    color: #28A745;
    font-weight: 800;
}

/*cada vez que el producto esté agotado, se mostrará con este estilo */
.agotado {
    color: #DC3545;
    font-weight: 800;
    text-decoration: line-through;
}

.producto button {
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    background-color: #007BFF;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color:#0056b3;
}